.UnionDatasource .frame > ol > li header {
	border-bottom: 0;
	box-shadow: none;
}
.UnionDatasource .frame > ol > li .content {
	padding:  0;
}
.UnionDatasource .frame > ol > li h4 a {
	font-weight: normal;
	margin-top: 0;
	color: #3F69A5;
}
.UnionDatasource .frame > ol > li.ordering h4 a {
	color: #FFF;
}